<!doctype html>
<html lang="en">
  <head>
  	<title>NLP annotator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{{ url_for('static', filename='js/button.js') }}"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medium-editor/medium-editor.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medium-editor/medium-custom.css') }}">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
				<div class="p-4">
		  		<h1><a href="index.html" class="logo">NLP Annotator</a></h1>
	        <ul class="list-unstyled components mb-5">
<!--
                <li class="active">
	            <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
	          </li>
	          <li>
	              <a href="#"><span class="fa fa-user mr-3"></span> About</a>
	          </li>
	          <li>
              <a href="#"><span class="fa fa-briefcase mr-3"></span> Portfolio</a>
	          </li>
	          <li>
              <a href="#"><span class="fa fa-sticky-note mr-3"></span> Blog</a>
	          </li>
	          <li>
              <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
	          </li>
-->
              <li>
                  Total documents:
              </li>
              <li>
                  <div>
                      <p><span id="remaining">1</span>/{{total}}</p>
                  <div>
              </li>
	        </ul>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
	        </div>

	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5 container">
        <h2 class="mb-4">Annotate text:</h2>
        <div class="editable" id="commentable-container">
            {{text|safe}}
        </div>
        <div style="float: right">
          <button id="submit" type="button" onClick="sendAnnotation()" class="btn btn-primary">Submit</button>
        </div>
      </div>
		</div>
    <!-- template -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- rangy -->
    <script src="{{ url_for('static', filename='js/rangy-master/lib/rangy-core.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rangy-master/lib/rangy-classapplier.js') }}"></script>
    <!-- medium editor -->
    <script src="{{ url_for('static', filename='js/medium-editor.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/medium-setting.js') }}"></script>
  </body>
</html>
